---
const { header } = Astro.props;
---

<article>
  <div>
    <h2>{header}</h2>
    <a href="#">Show all</a>
  </div>
  <div class="cards">
    <slot />
  </div>
</article>

<style>
  div {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  div.cards {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
</style>
