---
---

<nav>
  <a href="#"><img src="/icons/logo.svg" alt="logo" /></a>
  <ul>
    <li><a href="#"><img src="/icons/home-filled.svg" alt="icon" />Home</a></li>
    <li><a href="#"><img src="/icons/search-icon.svg" alt="icon" />Search</a></li>
    <li><a href="#"><img src="/icons/library-icon.svg" alt="icon" />Your Library</a></li>
  </ul>
  <div>
    <a href="#"><img src="/icons/create-icon.svg" alt="icon" />Create Playlist</a>
    <a href="#"><img src="/icons/heart-icon.svg" alt="icon" />Liked Songs</a>
  </div>
  <div>
    <a href="#">Cookies</a>
    <slot />
  </div>
</nav>

<style>
  nav {
    background-color: ghostwhite;
  }
</style>
